#board div{
    width: 7vw;
    height: 7vw;
    border: 2px solid black;
    position: relative;
    cursor: pointer;
}

#board div.playerChoice, #board div.aiChoice{
    cursor: default;
}

#board div.playerChoice::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4vw;
    height: 4vw;
    border: 4px solid green;
    border-radius: 50%;
}

#board div.aiChoice::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4vw;
    height: 4vw;
    border: 4px solid red;
    border-radius: 50%;
}

#board div.playerWinning::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: yellowgreen;
}
#board div.aiWinning::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: lightcoral;
}
